<h1>It's page contacts</h1>

<form method="post" action="/contacts">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="exampleInputMessage">Message</label> <br>
    <textarea name="message_email" rows="8" cols="80" placeholder="Enter your message" id="exampleInputMessage"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
